@model Pronatec.Entity.Curso

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Curso</legend>

        @Html.HiddenFor(model => model.IdCurso)

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeCurso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeCurso)
            @Html.ValidationMessageFor(model => model.NomeCurso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Local)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Local)
            @Html.ValidationMessageFor(model => model.Local)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
